/*------------------------------------*\
	RESET
\*------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
table{
/*
	border-collapse:collapse;
	border-spacing:0;
*/
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}


/* -------
 * body
 * -------
 */
body, .normal {
    font-family: sans-serif; arial;
	font-family:Arial,Verdana,sans-serif;
	font-size:0.7em;
	color:#333;
	margin-left: auto;
	margin-right: auto;	
}
body {
	margin:0 auto;
	padding:10px;    
}

p {
	margin-top: 1em;
}
p:nth-of-type(1) {
	margin-top: 0;
}

ul, ol {
	margin-top: 1em;
}
li {
	margin-left: 2em;
}

.alignright {
	float: right;
	display: inline; /*fixes IE float bug*/
	text-align: right;
}
.rowlabel {
	font-weight: bold;
}


/*------------------------------------*\
	NAV
\*------------------------------------*/
#nav{
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
	/* Clear floats */
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
#nav li{
	float: left;
	position:relative;
	margin-left: 0px;
	width: 100%;
	
	color:#656B72;

	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);

    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, white);
    background-image: -moz-linear-gradient(top, #ebf3fc, white);
    background-image: -ms-linear-gradient(top, #ebf3fc, white);
    background-image: -o-linear-gradient(top, #ebf3fc, white);
    background-image: linear-gradient(top, #ebf3fc, white);

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	
}
#nav a{
	display:block;
	padding:5px;
    color:#656B72;
	text-decoration:none;
}
#nav a:hover{
	text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nav ul{
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	top:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	left: 138px;
	z-index:5;
	margin-top: 0px;
}
#nav ul li{
	background: white;
	margin-right: 0px;
	margin-left: 0px;
	width: 7em;
	text-align: center;
	border: dashed 1px lightblue;
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
	top: -10px; /* Bring back on-screen when needed */	
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, white);
    background-image: -moz-linear-gradient(top, #ebf3fc, white);
    background-image: -ms-linear-gradient(top, #ebf3fc, white);
    background-image: -o-linear-gradient(top, #ebf3fc, white);
    background-image: linear-gradient(top, #ebf3fc, white);

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	
}
#nav li:hover ul {
	max-width: 700px;
	min-width: 400px;
	padding: 10px;
}


h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}




/* -------
 * hr
 * -------
 */
hr {
    margin-top: 10px;
    margin-bottom: 15px;
    
    border: none;
    /* top    */ border-top: 1px solid #bbb;
    /* middle */ background-color: #ddd; color: #ddd;
    height: 1px;
    *height: 2px; /* IE6+7 need the total height */ 
}

/* -------
 * button
 * -------
 */

li.button, .button:link,.button:visited
{
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-align: center;
	display: inline-block;
    
    font-weight:bold;
    color:#656B72;
    text-align:center;
    padding:6px;
    text-decoration:none;
    margin: 6px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0 2px 2px #ccc; 
    -moz-box-shadow: 0 2px 6px #ccc; 
    box-shadow: 0 2px 6px #ccc;         
    
}
.button:hover,.button:active
{
    background-color: #656B72;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dce9f9), to(#656B72));
    background-image: -webkit-linear-gradient(top, #dce9f9, #656B72);
    background-image: -moz-linear-gradient(top, #dce9f9, #656B72);
    background-image: -ms-linear-gradient(top, #dce9f9, #656B72);
    background-image: -o-linear-gradient(top, #dce9f9, #656B72);
    background-image: linear-gradient(top, #dce9f9, #656B72);
    color: #dce9f9;
}

.bigbutton:link, .bigbutton:visited {
	font-size: 40px;
}

/* -------
 * widget
 * -------
 */


div.widget, div.widget_action, div.widget_title {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px #ccc; 
    -moz-box-shadow: 0 2px 6px #ccc; 
    box-shadow: 0 2px 6px #ccc;
	background-color: white;
	margin-bottom: 2em;
	padding: 1em;
}

div.widget_action, div.widget_title {
	background-color: #dce9f9;
}

div.widget_title {
	margin-top: 1em;
	margin-bottom: 0px;
	text-align: center;
	font-weight: bold;
}

span.curr_left {
	color: darkred;
}

span.curr_right {
	color: darkgreen;
}

/* -------
 * table
 * -------
 */
table.bordered {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

table.bordered {
    border: solid #ccc 1px;
    -webkit-box-shadow: 0 2px 2px #ccc; 
    -moz-box-shadow: 0 2px 6px #ccc; 
    box-shadow: 0 2px 6px #ccc;         
}

table.bordered tr.odd:hover, table.bordered tr.even:hover {
    background: #fff;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
table.bordered td, table.bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
}

table.bordered th {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #fff);
    background-image: -moz-linear-gradient(top, #ebf3fc, #fff);
    background-image: -ms-linear-gradient(top, #ebf3fc, #fff);
    background-image: -o-linear-gradient(top, #ebf3fc, #fff);
    background-image: linear-gradient(top, #ebf3fc, #fff);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-align: center;
    
    font-weight: bold;
}

table.bordered td:first-child, table.bordered th:first-child {
    border-left: none;
}

table.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

table.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

table.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

table.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

table.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

table.bordered tr.odd {
    background-color: white;
}
table.bordered tr.even {
    background-color: #F4F8FD;
}


/*-------
 * form
 *------
 */
form.formutil {
  /*  
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px #ccc; 
    -moz-box-shadow: 0 2px 6px #ccc; 
    box-shadow: 0 2px 6px #ccc;
*/    
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    margin:auto;
    position:relative;
    width:550px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #09C;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	margin-bottom: 10px;

}


input[type="submit"] {
    width:100px;
    background:#09C;
    color:#fff;
    font-family: Tahoma, Geneva, sans-serif;
    height:30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1p solid #999;
}
input[type="submit"]:hover {
    background:#fff;
    color:#09C;
}

input, select    {
    border: 1px solid #999;
    background-color: white;
    height: 30px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input {
    padding-left: 3px;
    padding-right: 3px;
}

#submit_row td {
	padding-top: 10px;
}

textarea:focus, input:focus {
    border: 1px solid #09C;
}

span.ff-note {
	font-style: normal;
	color: #000000;
}


.blurbwidget tbody {
	
	display: block;
    max-height: 150px;
    overflow-y: scroll
	
}
.blurbwidget {
}

/*-------
 * footer
 *------
 */
div.footer {
	clear: both;
	position: relative;
	top: 20px;
	border-top: 2px solid darkred;
}

